name: ci

on:
  pull_request:
  push:
    branches:
      - main

concurrency: "ci-${{ github.ref }}"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      packages: read
      contents: write

    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true

      - name: "Yontrack configuration"
        id: yontrack-config
        uses: nemerosa/ontrack-github-actions-cli-config@v1.2.0
        env:
          YONTRACK_URL: ${{ vars.YONTRACK_URL }}
          YONTRACK_TOKEN: ${{ secrets.YONTRACK_TOKEN }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publication
        id: npm-publish
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          npx semantic-release
          # Capture the version from the latest git tag created by semantic-release
          VERSION=$(git describe --tags --abbrev=0 2>/dev/null || echo "")
          echo "version=$VERSION" >> $GITHUB_OUTPUT
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Tagging the Yontrack build
        if: ${{ github.ref_name == 'main' && steps.npm-publish.outputs.version != '' }}
        run: |
          yontrack build set-property release ${{ steps.npm-publish.outputs.version }}
